.container-bar {
  background-color: #1e3d8f !important;
}

.container-nav picture {
  cursor: pointer;
  padding: 0.6rem;
}

.menu-loginOut a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}
.menu-loginOut a:hover {
  padding: 0.5rem;
  background-color: #0a1f59;
}
