/* .bg-image {
  height: calc(100vh - 56px);
  background-image: url(../../../assets/bannerCruzeiro.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
